<% layout('layouts/boilerplate.ejs')%>

<div class="container">
	<header class="jumbotron text-center mt-4">
		<h1>Welcome to YelpCamp</h1>
		<p>This is a group of specially picked camp sites just for you</p>

		<div class="inner">
			<p>Have a camp site you'd like to share?</p>
			<a class="btn btn-info" href="/campgrounds/new" role="button">Add New Campground</a>	
		</div>
	</header>

	<div class="row text-center">
		<!-- Iterate through campground array -->
		<% for (let campground of campgrounds) { %>
			<div class="col-md-4 col-sm-6">
				<div class="img-fluid img-thumbnail border-0">
					<img src="<%= campground.image %>">
				</div>

				<div class="caption">
					<h4><%= campground.title %></h4>
				</div>

				<p>
					<a class="btn btn-outline-info btn-sm mt-1" href="/campgrounds/<%= campground._id %>" role="button">More Info</a>
				</p>
			</div>
		<% } %> 
	</div>
</div>

<% layout('layouts/boilerplate')%>

<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Campground</a>
</div>
<% for (let campground of campgrounds){%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=campground.image%>">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>