<%- include('../partials/header') %>

<div class="container">
	<header class="jumbotron text-center mt-4">
		<h1>Welcome to YelpCamp</h1>
		<p>This is a group of specially picked camp sites just for you</p>

		<div class="inner">
			<p>Have a camp site you'd like to share?</p>
			<a class="btn btn-info" href="/campgrounds/new" role="button">Add New Campground</a>	
		</div>
	</header>

	<div class="row text-center">
		<!-- Iterate through campground array -->
		<% campground.forEach(function(campground){ %>
			<div class="col-md-4 col-sm-6">
				<div class="img-fluid img-thumbnail border-0">
					<img src="<%= campground.image %>">
				</div>

				<div class="caption">
					<h4><%= campground.name %></h4>
				</div>

				<p>
					<a class="btn btn-outline-info btn-sm mt-1" href="/campgrounds/<%= campground._id %>" role="button">More Info</a>
				</p>
			</div>
		<% }); %>
	</div>
</div>

<%- include('../partials/footer') %>