<%- include('../partials/header') %>

<h1><%= campground.name %></h1>

<div class="col-md-6">
    <div class="img-thumbnail">
        <img src="<%= campground.image %>">
    </div>
</div>

<p><%= campground.description %></p>

<p>
    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Review</a>
</p>

<% campground.comments.forEach(comment => { %> 
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }); %> 


<%- include('../partials/footer') %>